---
import BlogEditor from "../components/BlogEditor.jsx";
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Editor de Blog</title>
  </head>
  <body style="font-family: Arial, sans-serif;">
    <h1 style="text-align:center; margin-top:20px;">Prueba del Editor</h1>
    <BlogEditor client:only="react" />

  </body>
</html>
